.contact__container {
    width: fit-content;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.contact__container a {
    width: 5rem;
    aspect-ratio: 1/1;
    color: white;
    background: rgb(96, 96, 216);
    display: grid;
    place-items: center;
    font-size: 2rem;
    border: 2px solid transparent;
    border-radius: var(--border-radius-1);
}

.contact__container a:hover {
    background: transparent;
    border-color: rgb(96, 96, 216);
    color: rgb(96, 96, 216);
    transform: translateY(-0.5rem);
}

.my-form{
  display: flex;
  justify-content: center;
}

/* Center Text */
.--text-center {
    text-align: center;
    margin-top: 50px;
  }
    
  .form-container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    
  }

  .--form-control {
    font-size: 1.6rem;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  
  
  
  .--form-control input {
    font-size: 1.6rem;
    font-weight: 300;
    padding: 8px 1rem;
    border: 1px solid #777;
    border-radius: 3px;
    outline: none;
  }
  .--form-control select {
    font-size: 1.4rem;
    font-weight: 400;
    padding: 8px 1rem;
    border: 1px solid #777;
    border-radius: 3px;
  }
  
  .--form-control label {
    font-size: 1.6rem;
    font-weight: 400;
    
    min-width: 7rem;
    color: var(--color-dark);
  }

  .message {
    background-color: #dfd9d9;
    border: 1px solid rgb(96, 96, 216);
    border-radius: 3px;
    text-align: center;
  }

  .--btn--btn-primary {
    background-color: rgb(96, 96, 216);
    color: white;
    height: 50px;
    border-radius: 3px;
  }
  
  @media screen and (max-width: 600px) {
    .--flex-dir-column {
      flex-direction: column;
    }
  }
  
  .--block {
    display: block;
  }
  .--inline-block {
    display: inline-block;
  }
  
  .--width-100 {
    width: 100%;
  }
  
  .--width-500px {
    width: 500px;
  }
  
  .--line {
    position: relative;
  }
  .--line::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    width: 5rem;
    height: 3px;
    margin-bottom: 1rem;
  
    background: rgb(217, 8, 170);
    background: linear-gradient(
      135deg,
      rgba(163, 1, 191, 1) 44%,
      rgba(217, 8, 170, 1) 57%
    );
  }
  
  .--list-style-none {
    list-style: none;
  }
  
  .--profile-img {
    width: 6rem;
    height: 6rem;
    border: 1px solid #ccc;
    border-radius: 50%;
  }
  
  a {
    font-size: 1.4rem;
    color: var(--dark-blue);
    text-decoration: none;
    transition: all 0.2s;
  }
  
  a:hover {
    color: var(--color-dark);
    font-size: 1.5rem;
  }


/* MEDIA QUERIES (phones) */
@media screen and (max-width: 600px) {
    .contact__container {
        gap: 1.5rem;
    }
}

